<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingmao.dog.appointment.provider.mapper.ProviderCountMapper">
  <resultMap id="BaseResultMap" type="com.kingmao.dog.appointment.provider.model.ProviderCount">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="shop_id" jdbcType="VARCHAR" property="shopId" />
    <result column="total_time" jdbcType="INTEGER" property="totalTime" />
    <result column="earn_time" jdbcType="INTEGER" property="earnTime" />
    <result column="consume_time" jdbcType="INTEGER" property="consumeTime" />
    <result column="work_time" jdbcType="TIMESTAMP" property="workTime" />
    <result column="model_statue" jdbcType="INTEGER" property="modelStatue" />
    <result column="dtype" jdbcType="VARCHAR" property="dtype" />
    <result column="enabled" jdbcType="INTEGER" property="enabled" />
  </resultMap>
  <sql id="Base_Column_List">
    id, shop_id, total_time, earn_time, consume_time, work_time, model_statue, dtype,
    enabled
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from provider_count
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from provider_count
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kingmao.dog.appointment.provider.model.ProviderCount">
    insert into provider_count (id, shop_id, total_time,earn_time, consume_time,
      work_time)
    values (#{id,jdbcType=INTEGER}, #{shopId,jdbcType=VARCHAR}, #{totalTime,jdbcType=INTEGER}, #{earnTime,jdbcType=INTEGER}, #{consumeTime,jdbcType=INTEGER},
      #{workTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kingmao.dog.appointment.provider.model.ProviderCount">
    insert into provider_count
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="totalTime != null">
        total_time,
      </if>
      <if test="earnTime != null">
        earn_time,
      </if>
      <if test="consumeTime != null">
        consume_time,
      </if>
      <if test="workTime != null">
        work_time,
      </if>
      <if test="modelStatue != null">
        model_statue,
      </if>
      <if test="dtype != null">
        dtype,
      </if>
      <if test="enabled != null">
        enabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="totalTime != null">
        #{totalTime,jdbcType=INTEGER},
      </if>
      <if test="earnTime != null">
        #{earnTime,jdbcType=INTEGER},
      </if>
      <if test="consumeTime != null">
        #{consumeTime,jdbcType=INTEGER},
      </if>
      <if test="workTime != null">
        #{workTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modelStatue != null">
        #{modelStatue,jdbcType=INTEGER},
      </if>
      <if test="dtype != null">
        #{dtype,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kingmao.dog.appointment.provider.model.ProviderCount">
    update provider_count
    <set>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="totalTime != null">
        total_time = #{totalTime,jdbcType=INTEGER},
      </if>
      <if test="earnTime != null">
        earn_time = #{earnTime,jdbcType=INTEGER},
      </if>
      <if test="consumeTime != null">
        consume_time = #{consumeTime,jdbcType=INTEGER},
      </if>
      <if test="workTime != null">
        work_time = #{workTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kingmao.dog.appointment.provider.model.ProviderCount">
    update provider_count
    set shop_id = #{shopId,jdbcType=VARCHAR},
      total_time = #{totalTime,jdbcType=INTEGER},
      earn_time = #{earnTime,jdbcType=INTEGER},
      consume_time = #{consumeTime,jdbcType=INTEGER},
      work_time = #{workTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getPorivderCountInfo"  resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM provider_count
    WHERE shop_id = #{shopId,jdbcType=VARCHAR} and work_time = #{workTime,jdbcType=TIMESTAMP} and dtype = #{dtype,jdbcType=VARCHAR}
  </select>

  <select id="getPorivderCountInfoNoType"  resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM provider_count
    WHERE shop_id = #{shopId,jdbcType=VARCHAR} and work_time = #{workTime,jdbcType=TIMESTAMP}
  </select>

  <update id="updateByShopIdAndTime" parameterType="com.kingmao.dog.appointment.provider.model.ProviderCount">
    UPDATE provider_count
    SET consume_time = (SELECT sum(consume_time) from customer_appointment where shop_id = #{shopId} and work_time = #{workTime})
    where shop_id = #{shopId} and work_time = #{workTime} and dtype = #{dtype}
  </update>

  <insert id="insertByShopIdAdnTime">
    INSERT INTO provider_count
    (consume_time,shop_id,work_time,dtype) VALUES
    ((SELECT sum(consume_time) from customer_appointment where shop_id = #{shopId} and work_time = #{workTime}),#{shopId},#{workTime},#{dtype})
  </insert>
</mapper>